body {
    padding: 15px; 
}
main{  
    padding: 15px; 
    width: 750px;
    height: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.67);
    -webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.67);
    border-radius: 15px;
}

.left{
    width: 40%;
    margin-top: 2vw;
    text-align: center;
}

h1 {
    width: 100%;
    padding: 0;
}

input {
    width: 100%;
    padding: 8%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.phone {
    width: 40%;
    height:90%; /* Set the height of the phone container */
    background-image: url('./img/48202db27d02471792558bca78889c12.jpg'); /* Placeholder image URL */
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    z-index: 1;
    background-color: white;
    margin-left: 110px;
    margin-top: 96px;
    width: 86px; /* Adjust the width as needed */
    height: 86px; /* Adjust the height as needed */
    color: black;
}

button{
    margin-top: 15px ;
    padding: 2%;
}

/* @media() */